<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
		>
		
		<aop:aspectj-autoproxy/>                                             <!-- notify that AOP class/bean exists -->
		
		<bean id="circle" class="springAOPproj.model.Circle">
		<property name="name" value="CIRCLE"></property>
		</bean>
		
		<bean id="triangle" class="springAOPproj.model.Triangle">
		<property name="name" value="TRIANGLE"></property>
		</bean>
		
		<bean id="shapeService" class="springAOPproj.service.ShapeService">    <!-- use autowire="byName" instead of prop/ref coz bean id(s) are same as member var-->
		<property name="circle" ref="circle"></property>
		<property name="triangle" ref="triangle"></property>
		</bean>
		
		<bean id="loggingaspect" class="springAOPproj.aspect.Logging"></bean>
		
		
		                                    <!-- XML way of config ASPECT, without using Annotations in class -->
<!-- 		<aop:config> -->
		
<!-- 		  <aop:aspect id="logging" ref="loggingaspect"> -->                                <!-- BEAN id which is to be made ASPECT -->
		
<!-- 		     <aop:pointcut id="pointcut_for_get" expression="execution(* * get*())"/> -->
                                                                                                <!-- similarly <aop:before>, <aop:after>, etc... -->
<!-- 		     <aop:around pointcut-ref="pointcut_for_get" method="ADVICE_METHOD_of_ASPECT"/> -->
		
<!-- 		  </aop:aspect> -->
		
<!-- 		</aop:config> -->
		
		
</beans>